<!-- This is the top of every page -->
<!DOCTYPE html>
<html>
<head>
  <title>TriWay</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('nav') %> <!-- this pulls in the nav bar -->