<!-- Homepage of the app -->
<%- include('partials/header') %>

<h1>Welcome to TriWay Dispatch</h1>
<p>This is your central dispatch hub.</p>
<!-- no need to styles link here , we did it in partial header <link rel="stylesheet" href="styles.css"> -->

<%- include('partials/footer') %>
